$navbar-default-bg: #6cffff;
@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: #005cb7;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: #005cb7;
  text-decoration: none;
}

.center{
  text-align: center;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}
footer a:hover{
  color: #222;
}
footer small{
  float: left;
}

footer ul{
  float:right;
  list-style: none;
}

.jumbotron{
  background-image: asset-url('gradient1.jpg');
  background-size: cover;
  height: 250px;
}

.jumbotron h1 {
color: #fff;
text-align: center;
margin-bottom: 30px;
letter-spacing: -1px;
font-weight: bold;
}
