<div class='container'>
  <footer class='footer'>
    <small>
      Copyright &copy; <a href='#'>My online course</a>
      by <a href'http://www.criscros-developer.com'>Cristian Garcia</a>
    </small>

    <nav>
      <ul>
        <li> <%= link_to 'About', about_path %> </li>
      </ul>
    </nav>

  </footer>
</div>
